
.conversationHeader.wireball-app
{
  background: #212121 !important;
}

#emptyStateView
{
  background: #212121 !important;
}

#userProfile
{
  background: #212121 !important;
}

#mainView
{
  background: #212121 !important;
}

#leftBar
{
  background: #212121 !important;
  border-right: 1px solid #1b1b1b !important;
}

#list
{
  background: #212121 !important;
}

.conversation_item.selected.conversations-view,
.conversation_item.conversations-view:hover
{
  background: #1b1b1b !important;
}

#startChatButton.wireball-app:hover,
#startChatButton.wireball-app:focus
{
  background: #1b1b1b !important;
}

.info.conversations-view h3.conversations-view
{
  color: #9E9E9E !important;
}

#startChatButtonString.wireball-app
{
  color: #9E9E9E !important;
}

#contentContainer
{
  background: #212121 !important;
}

#createIncognito.wb-new-conversation-view:hover,
#createIncognito.wb-new-conversation-view:focus
{
  background: #1b1b1b !important;
}

.layout.vertical.wb-profile-row
{
  color: #9E9E9E !important;
}

.input-content.paper-input-container label,
.input-content.paper-input-container .paper-input-label
{
  color: #9E9E9E !important;
}

#header.wb-new-conversation-view .toolbar.wb-new-conversation-view
{
  border-bottom: 1px solid #1b1b1b !important;
}

#header.wb-new-conversation-view
{
  padding-bottom: 0 !important;
}

app-header-layout.wb-new-conversation-view[has-scrolling-region] > #contentContainer.app-header-layout
{
  margin-top: 143px !important;
}

#createIncognito.wb-new-conversation-view
{
  color: #9E9E9E !important;
}

.contact.wb-contact-list:hover,
.contact.wb-contact-list:focus
{
  background: #1b1b1b !important;
}

conversations-view:not(.message-hidden) .conversation_item.selected.conversations-view, .conversation_item.conversations-view:hover
{
  background-color: #1b1b1b !important;
}

